*{
    margin: 0%;
    padding: 0%;
}

.footer{
    display: flex;
    background-color: black;
    justify-content: center; 
    margin-top: 3%;
}

@media (max-width: 430px) {
    .footer{
       flex-flow:1 1;

    }
}

.copyrights{
   color: white;
   align-items: center;
   padding-top: 5%;
   padding-left: 5%;
}