*{
    margin: 0%;
    padding: 0%;
}

.footer{
    display: flex;
    background-color: black;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 3%;
}

.copyrights{
   color: white;
   align-items: center;
}