*{
    margin: 0%;
    padding: 0%;
}

.footer{
    display: flex;
    background-color: black;
    justify-content: center; 
    margin-top: 3%;
    padding-top: 5%;
    padding-left: 5%;
}

.copyrights{
   color: white;
   align-items: center;
   
}