*{
margin: 0px;
padding: 0px;
opacity: 1;
}

.header{
display: flex;
background-color: lightsalmon;
color: azure;
justify-content: center;
padding:5%;
font-size: 15vh;
position: relative;
}

.login img{
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 40px;
    right: 40px;
    justify-content: right;
    position: absolute;
    cursor: pointer;
}

@media (max-width: 430px) {
    .header{
        padding:5%;
        font-size: 6vh;
        position: relative;
        }

    .navigation{
        padding: 2.5%;
        padding-right: 2%;
    }

    .home,.Menu,.Tracking{
        padding: 1.5%;
      }

      .search-text{
        padding: 3%;
        padding-left: 5%;
    }

    .login img{
        height: 35px;
        width: 28px;
        top: 30px;
        right: 25px;
    }
}

@media (min-width: 431px) and (max-width: 750px) {
    .header{
        padding:5%;
    }

    .login img{
        height: 50px;
        width: 50px;
        top: 30px;
        right: 25px;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .header{
        padding:5%;
    }
}

@media (min-width: 1000px) {
    .Tandoori-delights {
        grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    }
}



.navigation{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgb(255, 224, 183);
    justify-content: space-around;
    padding: 2%;
    align-items: baseline;
    align-items: center;
}

.list{
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.home,.Menu,.Tracking{
  padding: 1%;
  background-color: black;
  color: bisque;
  cursor: pointer;
  border-radius: 3px;
}

.navigation a{
    color: azure;
    text-decoration: none;
}

.search{
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    flex: 1;
}

.search-text{
    align-items: center;
    padding: 1%;
    font-size: medium;
    padding-left: 5%;
    border-radius: 30px;
    border-style: none;
    width: 100%;
    background-color: white;
    border: 2px solid black;
}

.search-icon{
    color: rgb(85, 81, 81);
    background-color: rgb(255, 255, 255) ;
    border-style: none;
    padding: 1.5%;
    border-radius: 5px;
    border: 2px solid black;
}