*{
padding: 0px;
margin: 0px;
}

body{
background-color: white;
}

.main{
display: grid;
margin-bottom: 5%;
}

.heading{
display: grid;
padding: 1%;
background-color: rgb(241, 241, 241);
}

.Tandoori-delights{
display: grid;
grid-template: repeat(5,1fr)/ repeat(2,1fr);
margin-bottom: 3%;
margin-top: 1%;
gap: 3%;
}

.sub-heading{
display: grid;
background-color: rgb(255, 255, 255);
padding: 5%;
border-radius: 5px;
}

.title{
background-color: rgb(226, 246, 246);
color: rgb(24, 24, 16);
font-weight: 700;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-align: center;
padding: 2%;
margin-top: 20px;
}

.product{
padding: 1%; 
background-color: gray;
color: white;
font-weight: 500;
margin-bottom: 10px;
}

.product-img{
width: 100%;
}

.discription{
color: rgb(80, 76, 76);
text-align: center;
padding: 5%;
margin-top: 3px;
font-style: italic;
}

.price{
padding: 3%;
}

.button{
display: grid;
grid-template-columns: 1fr 1fr;
gap: 2%;
padding: 5px;
}

.btn-buy,.btn-cart{
background-color: black;
color: aliceblue;
border-radius: 30px;
border-style: none;
padding: 8px;
}

.btn-cart{
background-color: orange;
color: aliceblue;
}

@media (max-width: 430px) {
    .Tandoori-delights {
    grid-template: repeat(6, 1fr) / repeat(1, 1fr);
    }
    .main{
    padding-bottom: 8%;
    }
    
}

@media (min-width: 431px) and (max-width: 999px) {
    .Tandoori-delights {
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    margin-bottom: 15%;
    margin-top: 3%;
    }
    .main{
    margin-bottom: 8%;
    }
    .btn-buy,.btn-cart{
        border-radius: 30px;
        padding: 8px;
        height: 50px;
        }
}

@media (min-width: 1000px) and (max-width: 1950px){
    .Tandoori-delights {
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    }

}

@media (min-width: 1951px){
.Tandoori-delights {
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    }
}